
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Erick Soi</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
<div class="nav-wrapper">
  <nav>
      <dir class="mytitle"><a href="#!" class="brand-logo">Erick Soi</a></dir>
      <ul class="right hide-on-med-and-down">
        <li><a href="calculator"><i class="material-icons left">search</i>Explore</a></li>
        <li><a href="#!"><i class = "material-icons left">group</i>MyBlog</a>
        <li><a href="#!"><i class="material-icons right">call</i>Contact</a></li>
      </ul>
  </nav>
</div>

  <main>
    <div class="mycontent">
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>

        </div>
        <!---<div class="mycodeimage">
            <img src='/static/img/1.PNG' alt="HTML5 Icon">
        </div>
        --->
    </div>

  </main>
    <footer class="page-footer">
              <div class="footer-copyright">
                <div class="container">
                © 2019 Copyright Text
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
                </div>
              </div>
    </footer>
</body>