  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
    background:url('/static/img/back.jpg');
    color: white;
    background-repeat: no-repeat;
    background-size: cover;

  }

  .mytitle{
  	font-family: cursive;
  }

  .page-footer {
  	background-color: #424242;
  }

  .nav-wrapper, nav{
  	background-color: #424242;
  }

  .mycontent{
  	display: flex;

  }
  .mycodeimage{
  	  	float:right;
	  	display:inline;

  }
  .content{
  	margin-left: 50px;
  }

 .mycontent{
    position:fixed;
    top: 50%;
    left: 63%;
    margin-top: -3em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    border-radius: 8px;
    background-color: #f3f3f3;
    padding: 1em;
    color: #aeff62;
    font-size: 30px;
    background:url('/static/img/2.png');
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-animation: spin 1s 2 linear;
}
@-webkit-keyframes spin {
    0%  {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}  
    0%  {-webkit-transform: rotate(0deg);}
}
