  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
    background:url('/static/img/4.gif');
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;   

  }

  .mytitle{
  	font-family: cursive;
  }

  .page-footer {
  	background-color: #424242;
  }

  .nav-wrapper, nav{
  	background-color: #424242;
  }

  .mycontent{
  	display: flex;

  }
  .mycodeimage{
  	  	float:right;
	  	display:inline;

  }
  .content{
  	margin-left: 50px;
  }

 .mycontent{

   	width:500px;
    padding: 1em;
    color: #0f687e;
    font-size: 30px;
    font-family: papyrus;
    
}